<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add Banner Image</h2>
                <form action="/admin/addbanner" enctype="multipart/form-data" method="POST">

                    <label for="">Image</label>
                    <input type="file" class="form-control" name="image" required>
                    <input type="file" class="form-control" name="image" required>

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

</div>
</div>
</div>