<!doctype html>
<html class="no-js" lang="en">

<head>
    {{#if user}}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BOOKSTORE B1 </title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- All CSS is here
	============================================ -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/css/vendor/signericafat.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/vendor/cerebrisans.css">
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="/assets/css/vendor/elegant.css">
    <link rel="stylesheet" href="/assets/css/vendor/linear-icon.css">
    <link rel="stylesheet" href="/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    

   

    {{/if}}

    {{#if userlogin}}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BookSTORE </title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- All CSS is here
	============================================ -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/signericafat.css">
    <link rel="stylesheet" href="/assets/css/vendor/cerebrisans.css">
    <link rel="stylesheet" href="/assets/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="/assets/css/vendor/elegant.css">
    <link rel="stylesheet" href="/assets/css/vendor/linear-icon.css">
    <link rel="stylesheet" href="/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    {{/if}}

    {{#if admin}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>BOOKSTORE B1 ADMIN</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Mannatthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="/adminlogin/assets/images/favicon.ico">

    <link href="/adminlogin/assets/plugins/morris/morris.css" rel="stylesheet">

    <link href="/adminlogin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/adminlogin/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/adminlogin/assets/css/style.css" rel="stylesheet" type="text/css">
    {{/if}}

    {{#if adminhome}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>BOOKSTORE B1 ADMIN</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Mannatthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="/adminhome/assets/images/favicon.ico">

    <link href="/adminhome/assets/plugins/morris/morris.css" rel="stylesheet">

    <link href="/adminhome/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/adminhome/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/adminhome/assets/css/style.css" rel="stylesheet" type="text/css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
        integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {{/if}}


    {{#if error}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    {{/if}}

</head>

<body>
    {{#if user }}
    {{>user-header2}}
    {{else}}
    {{#if adminhome}}
    {{>admin-header}}
    {{/if}}
    {{/if}}

    {{{body}}}
    {{#if user}}
    
    <script  src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script  src="javascripts/script.js"> </script>

    <script  src="/assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>




    <!-- All JS is here
============================================ --> 
    <script src="/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="/assets/js/vendor/jquery-v3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/jquery.instagramfeed.min.js"></script>
    <script src="/assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/sticky-sidebar.js"></script>
    <script src="/assets/js/plugins/easyzoom.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>


    {{/if}}


    {{#if userlogin}}

    <!-- All JS is here
============================================ -->

    <script src="/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="/assets/js/vendor/jquery-v3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/jquery.instagramfeed.min.js"></script>
    <script src="/assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/sticky-sidebar.js"></script>
    <script src="/assets/js/plugins/easyzoom.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    {{/if}}

    {{#if admin}}

    <!-- jQuery  -->
    <script src="/adminlogin/assets/js/jquery.min.js"></script>
    <script src="/adminlogin/assets/js/popper.min.js"></script>
    <script src="/adminlogin/assets/js/bootstrap.min.js"></script>
    <script src="/adminlogin/assets/js/modernizr.min.js"></script>
    <script src="/adminlogin/assets/js/detect.js"></script>
    <script src="/adminlogin/assets/js/fastclick.js"></script>
    <script src="/adminlogin/assets/js/jquery.slimscroll.js"></script>
    <script src="/adminlogin/assets/js/jquery.blockUI.js"></script>
    <script src="/adminlogin/assets/js/waves.js"></script>
    <script src="/adminlogin/assets/js/jquery.nicescroll.js"></script>
    <script src="/adminlogin/assets/js/jquery.scrollTo.min.js"></script>

    <script src="/adminlogin/assets/plugins/skycons/skycons.min.js"></script>
    <script src="/adminlogin/assets/plugins/raphael/raphael-min.js"></script>
    <script src="/adminlogin/assets/plugins/morris/morris.min.js"></script>

    <script src="/adminlogin/assets/pages/dashborad.js"></script>

    <!-- App js -->
    <script src="/adminlogin/assets/js/app.js"></script>
    <script>
        /* BEGIN SVG WEATHER ICON */
        if (typeof Skycons !== 'undefined') {
            var icons = new Skycons(
                { "color": "#fff" },
                { "resizeClear": true }
            ),
                list = [
                    "clear-day", "clear-night", "partly-cloudy-day",
                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                    "fog"
                ],
                i;

            for (i = list.length; i--;)
                icons.set(list[i], list[i]);
            icons.play();
        };

        // scroll

        $(document).ready(function () {

            $("#boxscroll").niceScroll({ cursorborder: "", cursorcolor: "#cecece", boxzoom: true });
            $("#boxscroll2").niceScroll({ cursorborder: "", cursorcolor: "#cecece", boxzoom: true });

        });
    </script>
    {{/if}}

    {{#if adminhome}}

    <!-- jQuery  -->
    <script src="/adminhome/assets/js/jquery.min.js"></script>
    <script src="/adminhome/assets/js/popper.min.js"></script>
    <script src="/adminhome/assets/js/bootstrap.min.js"></script>
    <script src="/adminhome/assets/js/modernizr.min.js"></script>
    <script src="/adminhome/assets/js/detect.js"></script>
    <script src="/adminhome/assets/js/fastclick.js"></script>
    <script src="/adminhome/assets/js/jquery.slimscroll.js"></script>
    <script src="/adminhome/assets/js/jquery.blockUI.js"></script>
    <script src="/adminhome/assets/js/waves.js"></script>
    <script src="/adminhome/assets/js/jquery.nicescroll.js"></script>
    <script src="/adminhome/assets/js/jquery.scrollTo.min.js"></script>
    <!-- Required datatable js -->
    <script src="/adminhome/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/adminhome/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="/adminhome/assets/plugins/skycons/skycons.min.js"></script>
    <script src="/adminhome/assets/plugins/raphael/raphael-min.js"></script>
    <script src="/adminhome/assets/plugins/morris/morris.min.js"></script>
    <!-- Buttons examples -->
    <script src="/adminhome/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/adminhome/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="/adminhome/assets/plugins/datatables/jszip.min.js"></script>
    <script src="/adminhome/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="/adminhome/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="/adminhome/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/adminhome/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="/adminhome/assets/plugins/datatables/buttons.colVis.min.js"></script>

    <script src="/adminhome/assets/pages/dashborad.js"></script>
    <!-- Responsive examples -->
    <script src="/adminhome/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/adminhome/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- Datatable init js -->
    <script src="/adminhome/assets/pages/datatables.init.js"></script>

    <script src="/adminhome/assets/js/app.js"></script>
    <!-- App js -->
    {{!-- <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable2').DataTable();
        });
    </script> --}}

    <!-- App js -->
    <script>
        /* BEGIN SVG WEATHER ICON */
        if (typeof Skycons !== 'undefined') {
            var icons = new Skycons(
                { "color": "#fff" },
                { "resizeClear": true }
            ),
                list = [
                    "clear-day", "clear-night", "partly-cloudy-day",
                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                    "fog"
                ],
                i;

            for (i = list.length; i--;)
                icons.set(list[i], list[i]);
            icons.play();
        };

        // scroll

        $(document).ready(function () {

            $("#boxscroll").niceScroll({ cursorborder: "", cursorcolor: "#cecece", boxzoom: true });
            $("#boxscroll2").niceScroll({ cursorborder: "", cursorcolor: "#cecece", boxzoom: true });

        });
    </script>

    {{/if}}

    {{#if error}}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js"></script>

    <script>
        gsap.set("svg", { visibility: "visible" });
        gsap.to("#headStripe", {
            y: 0.5,
            rotation: 1,
            yoyo: true,
            repeat: -1,
            ease: "sine.inOut",
            duration: 1
        });
        gsap.to("#spaceman", {
            y: 0.5,
            rotation: 1,
            yoyo: true,
            repeat: -1,
            ease: "sine.inOut",
            duration: 1
        });
        gsap.to("#craterSmall", {
            x: -3,
            yoyo: true,
            repeat: -1,
            duration: 1,
            ease: "sine.inOut"
        });
        gsap.to("#craterBig", {
            x: 3,
            yoyo: true,
            repeat: -1,
            duration: 1,
            ease: "sine.inOut"
        });
        gsap.to("#planet", {
            rotation: -2,
            yoyo: true,
            repeat: -1,
            duration: 1,
            ease: "sine.inOut",
            transformOrigin: "50% 50%"
        });

        gsap.to("#starsBig g", {
            rotation: "random(-30,30)",
            transformOrigin: "50% 50%",
            yoyo: true,
            repeat: -1,
            ease: "sine.inOut"
        });
        gsap.fromTo(
            "#starsSmall g",
            { scale: 0, transformOrigin: "50% 50%" },
            { scale: 1, transformOrigin: "50% 50%", yoyo: true, repeat: -1, stagger: 0.1 }
        );
        gsap.to("#circlesSmall circle", {
            y: -4,
            yoyo: true,
            duration: 1,
            ease: "sine.inOut",
            repeat: -1
        });
        gsap.to("#circlesBig circle", {
            y: -2,
            yoyo: true,
            duration: 1,
            ease: "sine.inOut",
            repeat: -1
        });

        gsap.set("#glassShine", { x: -68 });

        gsap.to("#glassShine", {
            x: 80,
            duration: 2,
            rotation: -30,
            ease: "expo.inOut",
            transformOrigin: "50% 50%",
            repeat: -1,
            repeatDelay: 8,
            delay: 2
        });

        const burger = document.querySelector('.burger');
        const nav = document.querySelector('nav');

        burger.addEventListener('click', (e) => {
            burger.dataset.state === 'closed' ? burger.dataset.state = "open" : burger.dataset.state = "closed"
            nav.dataset.state === "closed" ? nav.dataset.state = "open" : nav.dataset.state = "closed"
        })
    </script>

    {{/if}}

</body>

</html>